/* media query */

@media only screen and (max-width:576px) {
    .imgresize {
        height: 400px !important;
    }
}

@media only screen and (min-width:320px) and (max-width:466px) {
    .hidden-co {
        display: none !important;
    }
}

@media only screen and (min-width:320px) and (max-width:466px) {
    .hidden-icon {
        display: none !important;
    }
}

@media only screen and (min-width:320px) and (max-width:466px) {
    .hidden-img {
        display: none !important;
    }
}

@media only screen and (min-width:320px) and (max-width:466px) {
    .blogs{
        padding-left: 30px !important;
    }
}